@import "@{templateCommon}/basekit-bootstrap.less";

body {
  background-color: @color-swatch1;
  margin: 0;
  padding: 0;
}

&:hover {
    -webkit-transition: background-color 0.15s ease-in-out;
    -moz-transition: background-color 0.15s ease-in-out;
    -o-transition: background-color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out;
}

&:focus {
    outline: none;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

@media only screen and (min-width: 1140px) {
  .wrapper {
    width: 960px; /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}


/* ===============================
   CUSTOM CSS
   =============================== */

.main {
  padding: 20px 0;
}

/* DEFAULT PAGE TYPE */

.bk-pt-default header.bk-header {
  border-bottom: 1px solid darken(@color-swatch2,5%);
}

.bk-pt-default .extendednavigation ul li:hover > ul {
  border: 1px solid darken(@color-swatch2,5%);
  border-top: 0;
}

/* ===============================
   HEADER
   =============================== */

header.bk-header {
  padding: 0px;
}

header.bk-header .header-bg {
  width: 100%;
  background-color: @color-swatch1;
  padding: 50px 0 50px;
}

/* SUB NAV */

.companyheader {
    display: block;
    text-align: center;
    padding: 3em 0;
    @media @tablet {
        padding: 2em 0;
    }
    @media @mobile {
        padding: 1em 0;
    }
}

/* LOGO */

.widget.logo img {
    display: block;
    margin: 0 auto 10px;
}


/* ===============================
   FOOTER
   =============================== */

footer.bk-footer {
    padding: 3em 0;
    background-color: @color-swatch2;
    color: @color-swatch1;
    @media @tablet {
        padding: 2em 0;
    }
    h1, h2, h3, h4 {
        color: @color-swatch1;
        padding-bottom: 20px;
    }
}

footer.bk-footer h4 {
  padding-bottom: 8px;
}


// ===============================
// EXTENDED NAVIGATION
// ===============================

header {
    &.bk-header {
        nav {
            background-color: @color-swatch2;
        }
    }
}

.widget {
    &.extendednavigation {
        .clearfix;
        ul {    
            width: 100%;
            margin: 14px 0;
            @media @tablet {
                padding: 0;
            }
            li {
                display: inline-block;
                float: none;
                // Folder 
                &.folder {
                    margin-right: 16px;
                    background-image: image('/images/arrow-down.png');
                    background-position: right center;
                    background-repeat: no-repeat;
                    cursor: pointer;
                    &:after {
                        display: none;
                    }
                    .text {
                        -webkit-font-smoothing: initial;
                    }
                }
                // Dropdown Menu
                &:hover {
                    ul {
                        background-color: @color-swatch2;
                        padding: 30px 0 20px;
                        @media @tablet {
                            padding: 20px 0;
                            border-top: 1px solid lighten(@color-swatch2,8%);
                        }
                        li {
                            width: 100%;
                            padding: 4px 22px;
                            @media @tablet {
                                padding: 10px 22px;
                            }
                            a {
                                padding: 0;
                            }
                            .text {
                                &:hover {
                                    color: @color-swatch3;
                                }
                            }
                        }
                    }
                }
                a {
                    -webkit-font-smoothing: initial;
                    &:hover {
                        color: @color-swatch3;
                    }
                }
            }
        }
        a.pull {
            top: 33px;
            z-index: 9999;
            &:after {
                background-color: @color-swatch1;
                box-shadow: 0 6px 0 @color-swatch1, 0 12px 0 @color-swatch1;
            }
        }
    }
}

// ===============================
// FEATURE
// ===============================

.widget {
    &.feature {
        margin: 0 0 50px;
        .feature-bgimg,
        .feature-bgimg .content {
            height: 500px;
            @media @tablet {
                height: 400px;
            }
            @media @mobile {
                height: 300px;
            }
            .content {
                text-align: center;
                @media @tablet {
                    h2 {
                        font-size: bkscale(@font-swatch8-font-size,0.8);
                        line-height: bkscale(@font-swatch8-line-height,0.8);
                    }
                    h3 {
                        font-size: bkscale(@font-swatch9-font-size,0.8);
                        line-height: bkscale(@font-swatch9-line-height,0.8);
                    }
                }
                @media @mobile {
                    h2 {
                        font-size: bkscale(@font-swatch8-font-size,0.6);
                        line-height: bkscale(@font-swatch8-line-height,0.6);
                    }
                    h3 {
                        font-size: bkscale(@font-swatch9-font-size,0.7);
                        line-height: bkscale(@font-swatch9-line-height,0.7);
                    }
                }
                button { 
                    margin: 1.7em 0 0;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    border-radius: 4px;
                    box-shadow: 0px 2px 0px darken(@color-swatch3,15%);
                    text-shadow: 0 1px solid rgba(0,0,0,0.2);
                    @media @mobile {
                        margin: 1em 0 0;
                        padding: 3px 10px;
                        font-size: bkscale(@font-swatch7-font-size,0.8);
                    }
                } 
            }
        }
    }
}

/* ===============================
   BUTTON CSS
   =============================== */

.widget.button button, 
.widget.paypalbuynow .widget.button.paypal,
.widget.dropbox button,
.widget.tweet a {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0px 2px 0px darken(@color-swatch3,10%);
    text-shadow: 0 1px solid rgba(0,0,0,0.2);
}

.widget.clicktocall a {
    @media @mobile {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        box-shadow: 0px 2px 0px darken(@color-swatch3,10%);
        text-shadow: 0 1px solid rgba(0,0,0,0.2);
        -webkit-font-smoothing: initial;
    }
}


/* ===============================
   TWITTER WIDGET
   =============================== */

.widget.twitter {
    .twitter-profile-pic img {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
}


/* ==================================
   SOCIAL BAR WIDGET / SOCIAL PROFILE
   =============================== */

.widget.socialicons span a,
.widget.profile .bk-profile-socialicons span a {
    width: 32px;
    height: 32px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0px 2px 0px darken(@color-swatch3,10%);
    text-shadow: 0 1px solid rgba(0,0,0,0.2);
    -webkit-font-smoothing: initial;
}


/* ===============================
   PROFILE WIDGET
   =============================== */

.widget.profile span, 
.widget.profile a {
  display: block;
  font-size: bkscale(@font-swatch5-font-size,0.9);
  font-family: @font-swatch5-font-family;
  color: darken(@font-swatch5-color,10%);
}

.widget.profile a {
  color: @color-swatch3;
  text-decoration: none;
}


/* FOOTER PROFILE - TWITTER */

.widget.profile ul.twitter {
  padding: 0px;
  margin: 0px;
}

.widget.profile ul.twitter li {
  list-style: none;
}

.widget.profile ul.twitter img, .widget.profile ul.twitter time,
.widget.profile ul.twitter span {
  display: none;
}


/* ===============================
   SLIDESHOW WIDGET
   =============================== */

.widget.responsiveslideshow {
    .slideshow-image-list,
    .slideshow-widget {
        min-height: 450px;
        @media @tablet {
            min-height: 350px;
        }
        @media @mobile {
            min-height: 280px;
            height: 280px;
        }
    }
    .title {
        display: block;
    }
    .content-wrapper {
        background: rgba(0,0,0,0.5);
    }
    .slideshow-widget {
        /* Arrows */
        .btn-prev,
        .btn-next {
            width: 50px;
            height: 50px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            font-size: 0;
            z-index: 11;
            text-indent: -99999px;
            background: rgba(0,0,0,0.5);
            @media @tablet {
                width: 40px;
                height: 40px;
            }
            @media @mobile {
                width: 30px;
                height: 30px;
            }
        }
        .btn-prev {
            background-image: image('/images/slideshow-arrow-left.png');
            background-repeat: no-repeat;
            background-position: center;
            left: 20px;
        }
        .btn-next {
            background-image: image('/images/slideshow-arrow-right.png');
            background-repeat: no-repeat;
            background-position: center;
            right: 20px;
        }
        /* Play Button */
        .btn-play {
            top: 43%;
            width: 50px;
            height: 50px;
            background: rgba(0,0,0,0.5);
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            &:after {
                top: 43%;
                font-size: 20px;
                color: #fff;
                letter-spacing: -2px;
                top: 2px;
                line-height: 47px;
            }
            @media @tablet {
                width: 40px;
                height: 40px;
                &:after {
                    line-height: 38px;
                }
            }
            @media @mobile {
                width: 30px;
                height: 30px;
                &:after {
                    line-height: 28px;
                }
            }
        }
    }
    /* Slideshow Controls */
    .slideshow-widget-controls {
        .dot {
            width: 11px;
            height: 11px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            &.selected {
                background-color: @color-swatch3;
                width: 11px;
                height: 11px;
            }
        }
    }
}


/* ===============================
   BLOG
   =============================== */

.widget {
    &.blogpostlist {
        .blog-post-item {
            margin: 0 0 30px;
        }
        .blog-post-feature-image-wrap {  /* Blog post feature image */
            background-size: cover;
            max-width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            height: 250px;
            width: 250px;
            margin-bottom: 20px;
            img {
                display: none;
            }
        }
    }
}

.blog-post-item {
    margin: 1.5em 0;
    padding-bottom: 1em;
    h2 {
        a {
            font-family: @font-swatch2-font-family;
            font-size: @font-swatch2-font-size;
            font-weight: @font-swatch2-font-weight;
            line-height: @font-swatch2-line-height;
            color: @font-swatch2-color;
            letter-spacing: @font-swatch2-letter-spacing;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.blog-post-metadata {
    background-color: transparent;
    background-image: none;
    margin-top: 0;
    text-align: left;
}

.blog-list-footer {
    background-color: transparent;
    background-image: none;
}

.blog-post-more-link {
    float: left;
    width: 100%;
}

// ===============================
// FORMS
// ===============================

.widget {
    &.blogsearch,
    &.profile,
    &.signupform {
        form {
            margin: 0 0 20px;
            label {
                display: block;
                margin-bottom: .6em;
                font-family: @font-swatch4-font-family;
                font-size: @font-swatch4-font-size;
                font-weight: @font-swatch4-font-weight;
                line-height: @font-swatch4-line-height;
                color: @font-swatch4-color;
                letter-spacing: @font-swatch4-letter-spacing;
            }
            input {
                height: 43px;
                width: 60%;
                padding-left: 10px;
                position: relative;
                top: -2px;
                background-color: darken(@color-swatch1,4%);
                border: 1px solid darken(@color-swatch1,15%);
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                @media @mobile {
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
            button {
                position: relative;
                top: -2px;
                background-color: @font-swatch7-background-color;
                font-family: @font-swatch7-font-family;
                font-size: @font-swatch7-font-size;
                font-weight: @font-swatch7-font-weight;
                line-height: @font-swatch7-line-height;
                color: @font-swatch7-color;
                letter-spacing: @font-swatch7-letter-spacing;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                box-shadow: 0px 2px 0px darken(@color-swatch3,10%);
                padding: 8px 14px;
                margin: 0;
                border: none;
                text-decoration: none;
            }
        }
    }
}


// ===============================
// PROFILE FORM
// ===============================

.widget {
    &.profile,
    &.contactform {
        form {
            margin: 0 0 20px;
            fieldset {
                label {
                    display: block;
                    margin-bottom: .6em;
                    font-family: @font-swatch4-font-family;
                    font-size: @font-swatch4-font-size;
                    font-weight: @font-swatch4-font-weight;
                    line-height: @font-swatch4-line-height;
                    color: @font-swatch4-color;
                    letter-spacing: @font-swatch4-letter-spacing;
                }
                input,
                textarea {
                    height: 43px;
                    width: 60%;
                    margin-bottom: .6em;
                    padding-left: 10px;
                    position: relative;
                    top: -2px;
                    background-color: darken(@color-swatch1,4%);
                    border: 1px solid darken(@color-swatch1,10%);
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    border-radius: 4px;
                    @media @mobile {
                        width: 100%;
                        margin-bottom: 10px;
                    }
                }
                textarea {
                    height: 100px;
                }
                button {
                    display: block;
                    position: relative;
                    top: -2px;
                    background-color: @font-swatch7-background-color;
                    font-family: @font-swatch7-font-family;
                    font-size: @font-swatch7-font-size;
                    font-weight: @font-swatch7-font-weight;
                    line-height: @font-swatch7-line-height;
                    color: @font-swatch7-color;
                    letter-spacing: @font-swatch7-letter-spacing;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    border-radius: 4px;
                    box-shadow: 0px 2px 0px darken(@color-swatch3,10%);
                    padding: 8px 14px;
                    margin: 0;
                    border: none;
                    text-decoration: none;
                }
            }
        }
    }
}


/* ===============================
   MENU
   =============================== */

.widget {
    &.menu {
        margin: 20px 0;
        h4, .menu-item-nutritional-prop {
            font-size: bkscale(@font-swatch5-font-size,0.9);
        }
        .menu-header,
        .menu-subsection-header {
            text-align: center;
        }
        .menu-header {
            margin: 0 0 40px;
        }
        .menu-items {
            li {
                display: block;
                padding: 20px 0;
                .inner-item {
                    display: block;
                    padding: 0;
                    margin: 0;
                }
                &.menu-item-promoted {
                    background-color: @color-swatch1;
                    padding: 30px;
                    margin: 0 0 30px;
                    border: 1px solid darken(@color-swatch1,10%);
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    border-radius: 4px;
                }
            }
            .menu-item-image-wrap {
                height: 200px;
                background-size: cover;
                background-position: center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                clear:both;
                background-repeat: no-repeat;
                background-position: center;
                img {
                    display: none;
                }
            }
        }
        .menu-item-price {
            padding: 10px 0;
            p {
                padding: 0;
            }
        }
        .menu-section-item-dietary-props {
            .dietary-icon {
                height: auto;
                background-color: @color-swatch3;
                font-size: bkscale(@font-swatch5-font-size,0.7);
                color: @color-swatch1;
                line-height: 20px;
                padding: 0px 4px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                box-shadow: 0px 2px 0px darken(@color-swatch3,10%);
            }
        }
        // Menu Subsection
        .menu-subsection {
            padding: 0;
            margin: 0;
        }
    }
    // Menu Sections
    &.menusections {
        text-align: center;
        background-color: @color-swatch1;
        border: 1px solid darken(@color-swatch1,10%);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        margin: 0 0 30px;
    }
}


/* ===============================
   IPHONE WIDTH
   =============================== */

@media only screen and (max-width: 480px) {

    .main {
        padding: 30px 0;
    }

    footer.bk-footer .columns-two-right .widget.profile span {
        text-align: left;
    }

}


